extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let animalsid = toShow._id
    - let animalName = toShow.animalName
    - let animalAge = toShow.animalAge
    - let animalCost = toShow.animalCost
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{animalsid}
    - let actionid = "/resource/animals/" + animalsid
    form(id='animalsForm', action= actionid, method="PUT")
      div.form-group
        label.animalsAttr(for='animalName') animal Name
        input#animalName(type='text', name='animalName', value= animalName )
      div.form-group
        label.animalsAttr(for='animalAge') animal Age
        input#animalAge(type='text', name='animalAge', value= animalAge )
      div.form-group
        label.animalsAttr(for='animalCost') animal Cost
        input#animalCost(type='number', name='animalCost', value= animalCost )
      input(type="submit")
      button(class="btn btn-danger m-2" onclick="updateOnid()") Update
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      document.forms['animalsForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error );
        });
      });
    script.
      function cancel() {
        // Go back to the home page for the restaurant collection
        window.location.href='/animals'
      }
    script.
      function updateOnid() {
        console.log("starting update")
        // update first
        fetch(actionid, {
          method: 'UPDATE' // Don't need a body for the update
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded")
          window.location.href='/animals'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error )
        });
      }