extends layout
block content
  h1= title
  form(id='animalsForm', action="/resource/animals", method="POST")
    div.form-group
      label.animalsAttr(for='animalName') animals Name
      input#animalName(type='text', name='animalName')
    div.form-group
      label.animalsAttr(for='animalAge') animals Age
      input#animalAge(type='text', name='animalAge')
    div.form-group
      label.animalsAttr(for='animalCost') animals Cost
      input#animalCost(type='number', name='animalCost')
    input(type="submit")
  script.
    document.forms['animalsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error);
      });
    });
