extends layout
block content
h1= title
form(id='animalsForm', action="/resource/animals", method="POST")
div.form-group
label.animalsAttr(for='animalsName') animals Name
input#costume_type(type='text', name='animalName')
div.form-group
label.animalsAttr(for='animalsAge') animals Age
input#animalsAge(type='text', name='animalsName')
div.form-group
label.animalsAttr(for='animalCost') animals Cost
input#animalsCost(type='number', name='animalsCost')
input(type="submit")
script.
document.forms['animalsForm'].addEventListener('submit', (event) => {
event.preventDefault();
// TODO do something here to show user that form is being submitted
fetch(event.target.action, {
method: 'POST',
body: new URLSearchParams(new FormData(event.target)) // event.target is the form
}).then((resp) => {
return resp.json(); // or resp.text() or whatever the server sends
}).then((body) => {
alert("Save succeded")
// TODO handle body
}).catch((error) => {
// TODO handle error
alert("Save failed " + error )
});
});

